[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/deck/steamdeck-apps/bin/youtube
Name=Youtube TV
Icon=/home/deck/steamdeck-apps/icons/app_youtube.png